mysql==0.0.2
botocore
awscli
boto3
sklearn
docutils
mysql-connector-python
mysql-client
# numpy
# opencv-python
openpyxl
pandas
pickleshare
Pillow
pytesseract
python-dateutil
requests
scipy
xlrd
# requests