{% extends 'first/base.html' %}

{% block title %} Python Code {% endblock %}

{% block body %}

<form action ="{% url 'first:database' %}" method = "post" >

    {% csrf_token %}
<!--
    {% for document in patient.document_set.all %}
         {{ document.Document_image.url }}
    {% endfor %}
-->
    Patient ID :
    <input type="text" name="param" required value=" {{patient.id}}">  <br/>

    {{data_external}} <br/><br/>
    {{myresult}}

    <input type="submit" class="btn btn-success" value="Generate Document">
</form>

{% endblock %}