{% extends 'first/base.html' %}


{% block body %}

{% if user.is_authenticated %}
    <div class="document-container container-fluid">

    <!-- Albums -->
    {% for patient in all_users %}
    <div class="row">
        <div class="col-sm-12">

            <h3> <strong> <u>{{patient.Hospital_id}} - {{patient.Firstname}}'s Document </u> </strong> </h3>
            {% if request.user.is_superuser or request.user.is_staff %}
                {% if patient.document_set.all %}
                 <a href="{% url 'first:python' patient.id%}" class="btn btn-success" role="button">Generate Document</a> <br/>
                {% endif %}
            {% endif %}
        </div>
        {% if patient.document_set.all %}
            {% for document in patient.document_set.all %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'first:record' patient.id %}">
                            <img src="{{ Document.document_image }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ document.Document_type }}</h2>
                            <h4>{{ document.Hospital_id }}</h4>

                            <!-- View Details -->
                            <a href="{% url 'first:record' patient.id document.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                            <!-- Delete Album -->
                               <form action="{% url 'first:delete_document' patient.id document.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="document_id" value="{{ document.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                               </form>



                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'first:create' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add a Document
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
    {% endfor %}

{% else %}
     <h2>Please Login to Access the records</h2>

{% endif %}


{% endblock %}