{% extends 'first/base.html' %}
{% block title %} Patient Lists {% endblock %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>




{% if user.is_authenticated %}

     {% if all_users %}



    <ol>
        <h2> List of Patients </h2>
        {% for user in all_users %}

        <li> <a href="/first/{{user.id}}/"> <h3> {{user.Firstname}} - {{user.Hospital_id}}  </h3> </a> </li>
        {% endfor %}
    </ol>

    {% else %}
        <h3> No Users Found </h3>
     {% endif %}
{% else %}
     <h2>Please Login to Access the records</h2>
{% endif %}

</body>
</html>

{% endblock %}